<div class="modal-header">
  <h3 class="modal-title" id="modal-basic-title">Upload image</h3>
</div>

<div class="modal-body">
  <form (ngSubmit)="upload()">

    <input type="file" class="d-none" #imageFileInput (change)="fileChange($event)">
    <file-drop (onFileDrop)="fileDropped($event)" (click)="filedropClick()">
      <div class="text">
        <span>{{status.message}}</span>
      </div>
      <div class="progress" *ngIf="status.inProgress">
        <div class="progress-bar progress-bar-striped bg-success" [ngStyle]="{'width': status.percent + '%'}"></div>
      </div>
    </file-drop>

    <div class="form-group mt-3">
      <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder="Title">
    </div>

    <app-mutex-button [btnClass]="'btn-success btn-block'" [btnValue]="'Upload'" [lock]="status.inProgress"></app-mutex-button>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()" [disabled]="status.inProgress">Close</button>
</div>