<div class="row">
  <div class="col-sm-3">
    <button *ngIf="currentUser" type="button" class="btn btn-outline-info" (click)="openUploadModal()">
      <span>Upload image</span>
    </button>
  </div>
  <div class="col-sm-6">
    <app-pagination *ngIf="images" [items]="images" [perPage]="IMAGE_PER_PAGE" [(currentPage)]="page"></app-pagination>
  </div>
</div>

<div *ngIf="images">
  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3" *ngFor="let image of displayedImages">
      <div class="image-warp link" (click)="openImageModal(image)">
        <img [src]="image.data.preview" [alt]="image.data.name">
        <div class="title">{{image.data.name}}</div>
      </div>
    </div>
  </div>
  <app-pagination [items]="images" [perPage]="IMAGE_PER_PAGE" [(currentPage)]="page"
    (displayedItemsChange)="pageChange($event)"></app-pagination>
</div>