.image-wrap {
  min-height: 320px;
  padding-top: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  background: url(/assets/images/default.jpg) no-repeat center;
  text-align: center;
  overflow: hidden;
}

.image-wrap img {
  width: 220px;
  height: 300px;
  background-color: #fff;
}

.image-wrap .title {
  bottom: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
