<div *ngIf="!isLogged()">

  <app-input-form (formSubmit)="sendLogin($event)" [formInline]="true" [inputPlaceholder]="'Login'" [submitBtnClass]="'btn-info'"></app-input-form>

</div>

<div *ngIf="isLogged()">
  <button type="button" class="btn btn-outline-danger" (click)="logout()">Exit</button>
  <span class="badge badge-light ml-3">Arrow to navigate</span>

  <div class="board my-3">

    <div class="person" *ngFor="let person of (people | async)" [ngStyle]="{'top': person.y + 'px', 'left': person.x + 'px'}">
      <div class="last-message" *ngIf="person.lastMessage">{{person.lastMessage}}</div>
      <div class="name" [ngStyle]="{'background-color': person.color}">{{person.name}}</div>
    </div>
  </div>

  <app-input-form (formSubmit)="sendMessage($event)" resetInput="true" [inputPlaceholder]="'Message'" [submitBtnClass]="'btn-success'"></app-input-form>


</div>