<div class="content">

  <div class="row">
    <div class="col-sm-6">
      <h4>Latest items:</h4>
    </div>
    <div class="col-sm-6">
      <app-input-form class="float-right" (keyPress)="searchDebouncer.exec($event)" [inputPlaceholder]="'Search'" [submitBtnValue]="'X'"></app-input-form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3" *ngFor="let item of displayedItems">
      <app-item [item]="item"></app-item>
    </div>
  </div>

</div>