.key {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 200px;
  border: 1px solid #111;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
.key.sharped {
  margin: 0 -20px 100px;
  width: 40px;
  height: 100px;
  background-color: #333;
  z-index: 10;
}
.key.active {
  background-color: dodgerblue;
}
.key.binding {
  background-color: darkorange;
}

.key .note,
.key .bind {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: #aaa;
}
.key .bind {
  bottom: 25px;
  color: #111;
  font-weight: bold;
}

.key.sharped .bind {
  color: #eee;
}
