<div *ngIf="currentUser && currentUser.admin" class="container">

  <div class="form-group">
    <div class="alert alert-danger" *ngIf="mutex.error">{{mutex.error}}</div>
  </div>

  <app-pagination [items]="items" [perPage]="8" (displayedItemsChange)="pageChange($event)"></app-pagination>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <button type="button" class="btn btn-light" (click)="sort('uid')"><b>uid</b></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-light" (click)="sort('name')"><b>name</b></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-light" (click)="sort('type')"><b>type</b></button>
        </th>
        <!-- <th scope="col">data</th> -->
        <th scope="col">
          <button type="button" class="btn btn-light" (click)="sort('cd')"><b>creationDate</b></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-light" (click)="sort('lud')"><b>lastUpdateDate</b></button>
        </th>
        <th scope="col">public</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedItems">
        <td>
          <app-user-link [userId]="(item.type === 'user') ? item.id : item.uid"></app-user-link>
        </td>
        <td>
          <div class="cell">{{item.name}}</div>
        </td>
        <td>{{item.type}}</td>
        <!-- <td>{{item.data}}</td> -->
        <td>
          <app-item-date [date]="item.creationDate"></app-item-date>
        </td>
        <td>
          <app-item-date [date]="item.lastUpdateDate"></app-item-date>
        </td>
        <td>{{item.public}}</td>
        <td>
          <app-mutex-button [lock]="mutex.lock" [btnClass]="'btn-danger btn-sm'" [btnValue]="'X'"
            (click)="delete(item)"></app-mutex-button>
        </td>
      </tr>
    </tbody>
  </table>

</div>