<div class="form-group">
  <div class="alert alert-danger" *ngIf="mutex.error">{{mutex.error}}</div>
</div>

<div class="row">

  <div class="col-6">
    <form name="adminForm" [formGroup]="adminForm" (ngSubmit)="submit()">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" formControlName="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="creationDate" class="col-sm-4 col-form-label">creationDate</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="creationDate" name="creationDate"
            formControlName="creationDate">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastUpdateDate" class="col-sm-4 col-form-label">lastUpdateDate</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="lastUpdateDate" name="lastUpdateDate"
            formControlName="lastUpdateDate">
        </div>
      </div>
      <div class="form-group row">
        <label for="public" class="col-sm-4 col-form-label">public</label>
        <div class="col-sm-8">
          <input type="checkbox" id="public" name="public" formControlName="public">
        </div>
      </div>
      <app-mutex-button [btnClass]="'btn-info'" [btnValue]="'Send'" [lock]="mutex.lock" (clicked)="submit()"></app-mutex-button>
    </form>
  </div>

  <div class="col-6">
    <div *ngFor="let row of list; index as i">
      <button type="button" class="btn btn-sm btn-danger" (click)="delete(row)">X</button>
      <p>[{{i}}] id:{{row.id}} udi:{{row.uid}}</p>
    </div>
  </div>

</div>