<button class="btn" (click)="reset()">Reset</button>
<button class="ml-2 btn btn-success" (click)="checkGrid()">Check</button>

<div class="mt-3"></div>

<div class="grid border-dark border-right border-bottom">
  <div class="line" *ngFor="let line of grid; let y = index">
    <div class="num border-dark" [ngClass]="{'border-top': (y % 3 === 0), 'border-left': (x % 3 === 0)}" *ngFor="let num of line; let x = index">
      <input type="text" [ngClass]="{'btn-danger': !num.valid}" [disabled]="!num.editable" [ngModel]="num.value" (change)="changeNum(num, $event.target.value)" maxlength="1">
    </div>
  </div>
</div>