<div *ngIf="user">

  <div>{{user.data.displayName}}</div>
  <div>{{user.data.email}}</div>
  <app-item-date [date]="user.creationDate"></app-item-date>
  <div class="mt-2">
    <img class="avatar" [src]="user.data.photoURL ? user.data.photoURL : '/assets/images/default_user.png'"
      alt="avatar">
  </div>

  <div class="mt-3">
    <a *ngIf="currentUser && user.id === currentUser.id" [routerLink]="['/', 'user-edit']">
      <button type="button" class="btn btn-warning">Edit</button>
    </a>

    <a *ngIf="currentUser && user.id === currentUser.id && currentUser.admin" class="ml-2"
      [routerLink]="['/', 'admin']">
      <button type="button" class="btn btn-info">Admin</button>
    </a>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col-md-4">
        <h4>Associated items:</h4>
      </div>
      <div class="col-md-4">
        <app-pagination [items]="items" (displayedItemsChange)="displayItems = $event"></app-pagination>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3" *ngFor="let item of displayItems">
        <app-item [item]="item"></app-item>
      </div>
    </div>
  </div>

</div>