.user-link {
  display: inline-flex;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 1px 0px #333;
  color: #333;
  text-decoration: none;
  transition: ease-in-out, background-color 0.15s;
  cursor: pointer;
}

.user-link.light {
  color: #eee;
}

.user-link:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.user-link:active {
  box-shadow: 0 0 5px -5px #333;
}

.user-link .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 4px 0 0 4px;
}

.user-link .name {
  /* from smallest card possible */
  max-width: 180px;
  margin: 0 10px;
  padding-left: 38px;
  line-height: 38px;
}
