<div *ngIf="image">

  <div class="modal-header">
    <h4 class="modal-title ellipsis" id="modal-basic-title">{{image.name || 'No title'}}</h4>
    <button class="btn btn-outline-dark float-right" (click)="closeModal()" [disabled]="mutex.lock">Close</button>
  </div>

  <div class="modal-body" *ngIf="image">
    <div class="text-center" (click)="openImage(image)">
      <img class="link" [src]="image.data.url" [alt]="image.name" title="Full size">
    </div>
  </div>

  <div class="modal-footer" *ngIf="user">
    <div class="full-width">
      <app-user-link [user]="user" (click)="closeModal()"></app-user-link>
      <app-item-date class="ml-2" [date]="image.creationDate"></app-item-date>
    </div>
    <app-mutex-button *ngIf="currentUser && currentUser.id === image.uid" [lock]="mutex.lock"
      [btnClass]="'btn-danger default-size float-right'" [btnValue]="'Delete'" (clicked)="delete(image)"></app-mutex-button>
  </div>

</div>