<div *ngIf="image">

  <div class="modal-header">
    <div class="row row-size">
      <div class="col-9">
        <h4 class="modal-title" id="modal-basic-title">{{image.name || 'No title'}}</h4>
      </div>
      <div class="col-3">
        <button class="btn btn-outline-dark float-right ml-2" (click)="closeModal()" [disabled]="mutex.lock">Close</button>
      </div>
    </div>
  </div>

  <div class="modal-body" *ngIf="image">
    <div class="text-center" (click)="openImage(image)">
      <img class="link" [src]="image.data.url" [alt]="image.data.name" title="Full size">
    </div>
  </div>

  <div class="modal-footer" *ngIf="user">
    <div class="row row-size">
      <div class="col-9">
        <app-user-link [user]="user" (click)="closeModal()"></app-user-link>
        <span class="ml-2">le <app-item-date [item]="image"></app-item-date></span>
      </div>
      <div class="col-3">
        <app-mutex-button *ngIf="currentUser && currentUser.id === image.uid" [lock]="mutex.lock"
          [btnClass]="'btn-danger float-right default-size'" [btnValue]="'Delete'" (clicked)="delete(image)"></app-mutex-button>
      </div>
    </div>
  </div>

</div>